/* ====== table of contents 
1. Global Styles
2. Typography
3. Components
  3.1 Plans
  3.2 Buttons
4. Layout @Media-Queries 
========*/

/* ====== 1. Global Styles
 ===========================*/
html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 62.4%;
}

body {
  align-items: center;
  background-color: hsl(243, 100%, 69%);
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
/* ====== 2. Typography
 ===========================*/

/* ====== 3. Components  
============================*/

.panel {
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  max-width: 960px;
  padding: 15px 25px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
/* === 3.1 Plans === */

.pricing-plan {
  border-bottom: 1px solid hsl(208, 100%, 94%);
}

.pricing-plan:last-child {
  border-bottom: none;
}

.pricing-img {
  margin-bottom: 25px;
  max-width: 100%;
}

.pricing-header {
  color: hsl(0, 0%, 53%);
  font-weight: 600;
  letter-spacing: 1px;
}

.pricing-features {
  color: hsl(243, 100%, 69%);
  margin: 50px 0 25px;
  padding-left: 1rem;
}

.pricing-features-item {
  border-top: 1px solid hsl(208, 100%, 94%);
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.5;
  list-style: none;
  padding: 15px 0;
}

.pricing-features-item:last-child {
  border-bottom: 1px solid hsl(208, 100%, 94%);
}

.pricing-price {
  color: hsl(243, 100%, 69%);
  display: block;
  font-size: 3.1rem;
  font-weight: 700;
}
img {
  width: 30rem;
}

/* === 3.2 Buttons === */

.pricing-button {
  border-radius: 10px;
  border: 1px solid hsl(243, 55%, 55%);
  color: hsl(243, 100%, 69%);
  display: inline-block;
  margin: 25px 0;
  padding: 15px 35px;
  text-decoration: none;
  transition: background-color 200ms ease-in-out;
}

.pricing-button:hover,
.pricing-button:focus {
  background-color: hsl(243, 55%, 55%);
  color: hsl(208, 100%, 94%);
}

.pricing-button.is-featured {
  background-color: hsl(243, 55%, 55%);
  color: hsl(208, 100%, 94%);
}

.pricing-button.is-featured:hover,
.pricing-button.is-featured:focus {
  background-color: hsl(240, 100%, 97%);
  border: 1px solid hsl(243, 55%, 55%);
  color: hsl(243, 100%, 69%);
}

/* ====== 4. Layout @Media-Queries 
 =============================*/

@media (min-width: 900px) {
  .panel {
    flex-direction: row;
  }

  .pricing-plan {
    border-bottom: none;
    border-right: 1px solid hsl(208, 100%, 94%);
    padding: 25px 50px;
  }

  .pricing-plan:last-child {
    border-right: none;
  }
}
