*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background: url(images/background.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  font-size: 64.5%;
}

img {
  background-color: salmon;
  border-radius: 2.5rem;
}
.page-title {
  font-family: "Palette Mosaic", cursive;
  font-size: 2rem;
  align-self: center;
}

.button {
  margin-left: 0.5rem;
  font-family: "Oswald", sans-serif;
}

label,
.card,
.box {
  font-family: "Palette Mosaic", cursive;
}

span {
  font-weight: bold;
}
#playto {
  margin-left: 0.5rem;
  font-family: "Oswald", sans-serif;
}

#reset {
  background-color: salmon;
}

.title {
  font-family: "Oswald", sans-serif;
}
/* .title is-1 {
  font-family: "Oswald", sans-serif;
} */

.winner {
  color: darkgreen;
}

.loser {
  color: salmon;
}
