/* ====== table of contents 
1. Global Styles
2. Typography
3. Components
4. Layout @Media-Queries 
========*/

/* ====== 1. Global Styles
 ===========================*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --btn-color: hsl(6, 93%, 71%);
  --font-fam-sec: "Oswald", sans-serif;
  --font-family: "Palette Mosaic", cursive;
}

html {
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background: url(images/background.jpeg) no-repeat center center fixed;
  font-size: 64.5%;
  text-align: center;
  min-height: 100vh;
  max-width: 100%;
}
/* ====== 2. Typography
 ===========================*/
.page-title {
  align-self: center;
  font-family: var(--font-family);
  font-size: 1rem;
}

.title {
  font-family: var(--font-fam-sec);
}
#computer,
#username-input{
  margin:0;
  font-size: 1em;
}

#text{
  font-size: .5em;
}

#computer-choice-display{
  color: hsl(6, 93%, 71%);
}

/* ====== 3. Components  
============================*/
.button {
  font-family: var(--font-fam-sec);
  margin-left: 0.5rem;
  display: inline-block;
}

label,
.card,
.box {
  font-family: var(--font-family);
}

.box{
  min-height: 245px;

}
.media-content{
  min-height: 10rem;
  max-height: 14rem;
  flex-shrink: 0;
}


#username{
  max-width: 100px;
}

img {
  background-image: url(images/rps.gif)
  background-color: var(--btn-color);
  border-radius: 2.5rem;
}

.winner {
  color: hsl(120, 100%, 20%);
}

.loser {
  color: var(--btn-color);
}

.draw {
  color: black;
}

#mirror {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

#playto {
  font-family: var(--font-fam-sec);
  margin-left: 0.5rem;
}

#reset {
  background-color: var(--btn-color);
}
#game {
  font-family: var(--font-fam-sec);
}
/* ====== 4. Layout @Media-Queries 
 =============================*/
/* @media screen and (min-width: 768px) {
 
} */
