*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --font-family: "Palette Mosaic", cursive;
  --font-fam-sec: "Oswald", sans-serif;
  --btn-color: salmon;
}

html {
  background: url(images/background.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  font-size: 64.5%;
}

img {
  background-color: var(--btn-color);
  border-radius: 2.5rem;
}
.page-title {
  font-family: var(--font-family);
  font-size: 2rem;
  align-self: center;
}

.button {
  margin-left: 0.5rem;
  font-family: var(--font-fam-sec);
}

label,
.card,
.box {
  font-family: var(--font-family);
}

#playto {
  margin-left: 0.5rem;
  font-family: var(--font-fam-sec);
}

#reset {
  background-color: var(--btn-color);
}
#game {
  font-family: var(--font-fam-sec);
}
.title {
  font-family: var(--font-fam-sec);
}

.winner {
  color: darkgreen;
}

.loser {
  color: var(--btn-color);
}

.draw {
  color: black;
}

#mirror {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
