/* ====== table of contents 
1. Global Styles
2. Typography
3. Components
4. Layout @Media-Queries 
========*/

/* ====== 1. Global Styles
 ===========================*/
#headingGroup h1 {
  font-size: 4rem;
  font-weight: 100;
}

#headingGroup span {
  color: hsl(70, 53%, 74%);
}

body {
  background: hsl(129, 53%, 90%);
  font-family: "Nunito", sans-serif;
}
/* ====== 2. Typography
 ===========================*/
.museum h2 {
  color: hsl(153, 40%, 30%);
  font-size: 2.5rem;
  font-weight: 100;
}

.museum h3 {
  font-size: 3rem;
  color: hsl(70, 53%, 74%);
}

.museum p {
  color: hsl(153, 40%, 30%);
  font-size: 1.5rem;
  font-weight: 100;
}

/* ====== 3. Components  
============================*/
.content {
  margin-top: 100px;
  margin-bottom: 100px;
}

#mainNavbar {
  font-size: 1.5rem;
  font-weight: 100;
}

#mainNavbar .nav-link:hover {
  color: hsl(153, 40%, 30%);
}

#mainNavbar .navbar-brand {
  font-size: 1.8rem;
  color: hsl(153, 40%, 30%);
}

.navbar .scrolled {
  background-color: hsla(174, 59%, 78%, 0.702);
  transition: background 0.8s;
}

/* ====== 4. Layout @Media-Queries 
 =============================*/
@media screen and (max-width: 1200px) {
  #headingGroup h1 {
    font-size: 2rem;
  }
}
