body {
  background: #d8f3dc;
  font-family: "Nunito", sans-serif;
}

#mainNavbar {
  font-size: 1.5rem;
  font-weight: 100;
}

#mainNavbar .nav-link:hover {
  color: #e07a5f;
}

#headingGroup span {
  color: #e07a5f;
}
