* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  background-image: url(resources/background.jpg);
  min-height: 100vh;
  max-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  align-items: center;
  /* font-size: 64.5%; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 100vw;
  grid-template-areas:
     "header clock"
     "button content";
  justify-content: center;
  justify-items: center;
  align-items: center;
}

h1 {
  color: #54423e;
  max-width: fit-content;
  justify-self: center;
  font-size: 2.5rem;
  margin: 0;
  padding: 1rem;
  grid-area: header;
}

h2 {
  color: #fff0d4;
  font-size: 2rem;
  padding: 1rem;
}

#coffee-btn {
  grid-area: button;
  align-self: center;
  justify-self: center;
  max-width: max-content;
  margin: 2rem;
  padding: 1rem 2rem;
  border: solid 3px #54423e;
  border-radius: 2rem;
  font-size: 1.25rem;
  text-decoration: none;
  color: rgb(128, 92, 92);
  background-color: #54423e29;
  transition: background-color 0.1s ease-in-out;
}

#coffee-btn:hover,
#coffee-btn:focus {
  background-color: #54423e;
  color: #fff0d4;
  cursor: pointer;
}

/* //CLOCK// */
.clock {
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(resources/clock.png);
  background-size: cover;
  border-radius: 50%;
  grid-area: clock;

  /* border: 15px solid white; */
  /* box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.1), 0 -10px 20px rgba(0, 0, 0, 0.2),
    0 0 0 4px rgba(255, 255, 255, 1); */
}

.clock::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: #54423e;
  border-radius: 50%;
  z-index: 100;
}

.hour,
.minute,
.second {
  position: absolute;
}

.hour,
.hr {
  width: 160px;
  height: 160px;
}

.minute,
.min {
  width: 190px;
  height: 190px;
}

.second,
.sec {
  width: 230px;
  height: 230px;
}

.hr,
.min,
.sec {
  position: absolute;
  display: flex;
  justify-content: center;
  border-radius: 50%;
}

.hr::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 80px;
  background-color: #54423e;
  z-index: 10;
  border-radius: 6px 6px 0 0;
}

.min::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 90px;
  background-color: #9e6548;
  z-index: 11;
  border-radius: 6px 6px 0 0;
}

.sec::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 150px;
  background-color: #54423e;
  z-index: 12;
  border-radius: 6px 6px 0 0;
}

/* //CLOCK END */

/* //Content// */
.content{
  grid-area: content;
}

#coffee-loader {
  display: none;
background-color: #ecd2b7;
  height: 65px;
  width: 70px;
  border: 10px solid #ecd2b7;
  box-shadow: 0 0 0 10px #fff0d4;
  margin: auto;
  position: relative;
  border-radius: 0 0 110px 110px;
  background-image: linear-gradient(
    0deg,
    #54423e 0,
    #54423e 70px,
    transparent 70px,
    transparent 150px
  );
  background-size: 150px 150px;
  background-position: 0 0;
  animation: fill 2s infinite;
}

#coffee-loader:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 25px;
  border: 10px solid #fff0d4;
  border-radius: 0 40px 40px 0;
  right: -55px;
}
@keyframes fill {
  100% {
    background-position: 0 -100px;
  }
}
/* //LOADER end// */

/* //MEDIA QUERIES// */

@media screen and (min-width: 320px) {
  body{
    background-position: top;
  }
  
  h1{
    font-size: 2rem;
    text-align: center;
  } 

  h2{
    text-align: top;
    padding-bottom:200px;
  }
  
  .container {
      margin: 4rem;
      text-align: center;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas:
      "clock"
      "content"
      "header"
     "button" 
     ;
    } 
  }

  @media screen and (min-width: 768px) {
    .container {
      margin: 4rem;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
  
    h1{
      align-self: flex-end;
    }
  
    h2{
      font-size: 3rem;
    }
    .btn {
      max-width: 800px;
      font-size: 2.5rem;
  }
  
   /* */
/* .dropdown /
      opacity: 0;
      visibility: hidden;
 
  
  button:focus-within .dropdown
      opacity: 1;
      visibility: visible;
  
  
  .drop
      animation: dropIn 1s ease forwards ;
      animation-delay: calc(var(--order)*0.1s);
  
  
  @keyframes dropIn{
      from{transform: translateY(-5000px);}
      to{transform: translateY(0);}
  */
