* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 64.5%;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}

h1 {
  color: whitesmoke;
  padding: 2rem;
}
.banner-img {
  background-image: url(images/background.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

.banner-text {
  position: relative;
  margin: 2rem;
  padding: 2rem;
  z-index: 5;
  text-align: center;
  min-width: clamp(2rem, 5vw, 5rem);
  border-top-left-radius: 7rem;
  border-bottom-right-radius: 7rem;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  font-weight: bold;
  border: 10px inset #d11e3b;
  backdrop-filter: saturate(100%) blur(0.5rem);
}

h1 {
  color: #d6cb58;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-size: 2rem;
}

banner-text p {
  padding: 0 8%;
  font-family: monospace;
}
.btn {
  padding: 1rem 2rem;
  border: solid 1px #d6cb58;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  font-size: 1.25rem;
  text-decoration: none;
  color: white;
  background-color: rgba(255, 255, 255, 0.18);
}

.video-wrapper {
  position: relative;
  z-index: 6;
  padding: 2rem;
  width: 60%;
  height: auto;
}
video {
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 100%;
}
@media (max-width: 425px) {
    .container{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }



    /* .dropdown{
    opacity: 0;
    visibility: hidden;
}

button:focus-within .dropdown{
    opacity: 1;
    visibility: visible;
}

.drop{
    animation: dropIn 1s ease forwards ;
    animation-delay: calc(var(--order)*0.1s);
}

@keyframes dropIn{
    from{transform: translateY(-5000px);}
    to{transform: translateY(0);}
} */
