body {
  background-image: url(images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 64.5%;
  font-family: "Slabo 13px", serif;
  width: 100%;
}

.container {
  background-color: rgba(252, 249, 249, 0.65);
  width: 80%;
  border-radius: 1.25rem;
  padding: 2rem;
  margin: 2rem;
}

input {
  font-family: "Slabo 13px", serif;
  font-size: 0.6rem;
  border-radius: 0.3rem;
  border-style: none;
}

form {
  justify-content: space-between;
}

button {
  background-color: rgb(29, 92, 29);
  color: white;
  font-family: "Slabo 13px", serif;
  border: 1px solid black;
  border-radius: 0.5rem;
  display: inline-block;
  padding: 0.5rem 1.5rem;
  margin: 1rem;
  transition: background-color 200ms ease-in-out;
}

button:hover {
  background-color: white;
  color: rgb(29, 92, 29);
}
.listArea {
  background-color: white;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 2fr);
  margin-top: 3rem;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 620px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .listArea {
    margin-top: 2rem;
  }
}
