/* ====== table of contents 
1. Global Styles
2. Typography
3. Components
3.1 Buttons
4. Layout
========*/


/* ====== Global Styles
 ===========================*/
/* ====== Typography
 ===========================*/

/* ====== Layouts 
============================*/
 /* ====== Components Styles 
 =============================*/
body {
  background-image: url(images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Slabo 13px", serif;
  font-size: 64.5%;
  min-height: 100vh;
  width: 100%;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

input {
  border-radius: 0.3rem;
  border-style: none;
  font-family: "Slabo 13px", serif;
  font-size: 0.6rem;
  height: 22px;
  width: 155px;
}

.container {
  background-color: rgba(252, 249, 249, 0.65);
  border-radius: 1.25rem;
  margin: 2rem;
  padding: 2rem;
  width: auto;
}

.grid {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 2fr);
  justify-content: center;
}

form {
  text-align: center;
}
.listArea {
  align-self: center;
  background-color: white;
  border-radius: 0.5rem;
  font-size: 1rem;
  justify-self: center;
  min-height: 130px;
  min-width: 190px;
  padding: 0.5rem;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}

label {
  font-size: 1.2rem;
}

.userinput {
  padding: 0.25rem;
  text-align: center;
}

.btn {
  background-color: rgb(29, 92, 29);
  border-radius: 0.5rem;
  border: 1px solid rgb(66, 145, 66);
  color: white;
  display: inline-block;
  font-family: "Slabo 13px", serif;
  margin: 1rem;
  padding: 0.5rem 2.5rem;
  transition: background-color 200ms ease-in-out;
}

.btn:hover {
  background-color: white;
  color: rgb(29, 92, 29);
}

.delete-btn {
  background-color: white;
  border: none;
  cursor: pointer;
  height: 20px;
  width: 20px;
}
.fas {
  pointer-events: none;
}

@media screen and (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin-top: 3rem;
  }
